# ==============================================================================
# QUIZZBOARD ENTERPRISE - VARIABLES D'ENVIRONNEMENT (EXEMPLE)
# ==============================================================================
# Copiez ce fichier sous le nom '.env' à la racine du projet :
#   cp .env.example .env
# Puis lancez l'ensemble des conteneurs depuis la racine :
#   docker compose up --build
# ==============================================================================

# 1. PORTS ET SERVICES DOCKER
CLIENT_PORT=4200
SERVER_PORT=8080
API_PREFIX=/api/v1
PGADMIN_PORT=5050

# 2. BASE DE DONNÉES POSTGRESQL 16
DB_HOST=postgres
DB_PORT=5432
DB_NAME=quizzboard_db
DB_USER=postgres
DB_PASSWORD=postgres

# 3. CACHE & LIVE SESSIONS REDIS 7
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
LIVE_SESSION_TTL_HOURS=6

# 4. INTERFACE D'ADMINISTRATION POSTGRESQL (pgAdmin 4)
PGADMIN_EMAIL=admin@quizzboard.com
PGADMIN_PASSWORD=admin

# 5. SÉCURITÉ JWT (JJWT 0.12 - 256-bit Hex Key)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000
JWT_REFRESH_EXPIRATION_MS=604800000

# 6. DOMAINES CORS AUTORISÉS
CORS_ORIGINS=http://localhost:4200,http://localhost:80,http://127.0.0.1:4200

# 7. SERVICE EMAIL TRANSACTIONNEL SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=quizzboard@gmail.com
SMTP_PASSWORD=votre_mot_de_passe_application_smtp
MAIL_FROM=QuizzBoard Support <quizzboard@gmail.com>
RESET_PASSWORD_URL=http://localhost:4200/reinitialisation-mot-de-passe?token=
INVITATION_BASE_URL=http://localhost:4200/invitation/

# 8. AUTHENTIFICATION GOOGLE
GOOGLE_CLIENT_ID=votre-google-client-id.apps.googleusercontent.com

# 9. PASSERELLES DE PAIEMENT AFRICAINES & INTERNATIONALES
ENABLE_PAYMENT_SIMULATION=false
WAVE_API_KEY=wave_ci_prod_ou_sandbox_key
WAVE_WEBHOOK_SECRET=wave_webhook_secret_key
WAVE_BUSINESS_ID=wave_business_id

OM_CLIENT_ID=om_developer_client_id
OM_CLIENT_SECRET=om_developer_client_secret
OM_MERCHANT_KEY=om_merchant_key
OM_ENVIRONMENT=sandbox

STRIPE_SECRET_KEY=sk_test_placeholder
STRIPE_WEBHOOK_SECRET=whsec_placeholder

PAYDUNYA_MASTER_KEY=votre_master_key_paydunya
PAYDUNYA_PRIVATE_KEY=votre_private_key_paydunya
PAYDUNYA_TOKEN=votre_token_paydunya
PAYDUNYA_MODE=sandbox
PAYDUNYA_RETURN_URL=http://localhost:4200/app/subscription/callback
PAYDUNYA_CANCEL_URL=http://localhost:4200/tarifs?status=cancelled
PAYDUNYA_CALLBACK_URL=http://localhost:8080/api/v1/payments/paydunya/ipn

# 10. MOTEURS D'INTELLIGENCE ARTIFICIELLE
GEMINI_API_KEY=votre_cle_gemini_ici
GROQ_API_KEY=votre_cle_groq_ici

# 11. STOCKAGE MÉDIAS & CDN
STORAGE_PROVIDER=local
LOCAL_UPLOAD_DIR=uploads
STORAGE_BASE_URL=http://localhost:8080/api/v1/files
CLOUDINARY_CLOUD_NAME=votre_cloud_name
CLOUDINARY_API_KEY=votre_api_key
CLOUDINARY_API_SECRET=votre_api_secret
